/*####################################
#
#	Autor: Hector Sevilla
#	Descripcion: Hoja de estilos para 
#				 la plantilla web de 
				 Manantiales de Santo Domingo
#	Fecha: 03/03/2015
#	Hora: 23:00
#
#	1- Cabecera
#	2- Menu
#	3- Slider
#	4- Seccion Principal
#	5- Reviews
#	6- mapa
#	7- Redes Sociales
#	8- Footer
#	9- Mediaquery
#####################################*/

@import 'fonts.styl'
@import 'normalize.styl'
@import 'bxslider.styl'
@import 'nib'


//Colores
azul-oscuro = #082C4E
azul-claro = #1363A8
gris-tenue = #DFDFDF
gris-tono2 = #B3B3B3

//OOCSS
alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/14)rem
html
	font-size: 14px
	height 100%
	min-height 100%
a
	text-decoration none
img
	max-width 100%
	font-size 0
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h3
	font-family: GothamXL
	font-size: rem(36)
	margin-top: 0
input[type="text"]
input[type="mail"]
	border 1px solid #d0dee7
	box-sizing border-box
	height 30px
	padding-left: .7rem
	width 100%
textarea
	border 1px solid #d0dee7
	box-sizing border-box
	padding-left: .7rem
	width 100%
body
	font-family: OpenSans400
	font-size: 14px
	font-weight: normal
	-webkit-transform translateZ(0) !important
	min-height 100%
icon(icono)
	content "\"+icono
	font-family fontawesome
	color azul-claro
	padding-right .7rem
	
parallax(imagen)
	//background-attachment fixed
	background-image url(../img/imagen)
	background-position top center
	background-repeat no-repeat
	//background-size cover
	//height 100vh
	position relative
	top 0
	right 0
  	bottom 0
  	left 0
	//text-indent -9999px
//Video Background test


/* FUENTES 

    OPEN SANS REGULAR = OpenSans400
    PRISTINA = pristina
    GOTHAM EXTRA LIGHT = GothamXL
    GOTHAM BOOK = GothamBK
    GOTHAM BOLD = GothamB
    GOTHAM LIGHT = GothamL
    GOTHAM MEDIUM = GothamM
    GOTHAM LIGHT ITALIC = GothamLIta

*/
.hidden
	opacity 0
.visible
	opacity 1
.bx-clone
	display none
h1
h2
	font-family GothamXL
	margin-top 0
h1
	font-size rem(40)
h2
	font-size rem(36)
.wrap
	padding 0 1rem
.info
	background-color azul-oscuro
	color white
	padding-top .4rem
	padding-bottom .4rem
	text-align center
	.telefono
		&:before
			icon(f095)
			font-size 1.3rem
	.mail
		&:before
			icon(f0e0)
			font-size 1.3rem
	.fbook
		text-align right
		a
			&:before
				icon(f230)
				font-size 2rem
.box
h2
h3
p
ul
	animation-duration 8s
	animation-delay .5s
	//animation-iteration-count infinite

//Cabecera
header
	background-image url("../img/bgHeader3.png"),url("../img/map.jpg") 
	background-repeat repeat-x, no-repeat
	background-position top center
	padding 4rem 0
	color white
	text-align center
	position relative
	#bgvid
		//position fixed
		position absolute
		right 0
		bottom 0
		min-width 100%
		min-height 100%
		width auto
		height auto
		z-index -100
		background url("../video/movie3.jpg") no-repeat
		background-size cover
	h2
		font-size rem(46)
		text-shadow 4px 4px 2px #444
	h3
		font-family pristina
		letter-spacing 1px
		padding 2rem 0 3rem 0
		text-align center
		font-size rem(46)
		text-shadow 4px 4px 2px #444
	h4
		font-family GothamB
		font-size rem(22)
		text-shadow 4px 4px 2px #444
	p
		font-family GothamBK
		font-size rem(22)
		text-shadow 4px 4px 2px #444
		
.seccion-1
	color white
	parallax("gimnasio-seccion-2.jpg")
	padding-top 1.5rem
	padding-bottom 1.5rem
	.box
		text-align center
		margin-bottom 1.8rem
		h2
			font-family GothamL
			font-size rem(30)
.seccion-2
	img
		display block
.seccion-3
	background-color azul-oscuro
	padding 1rem 0 6rem 0
	color white
	position relative
	.viewMore
		&:after
			icon(f107)
			color white
			position absolute
			left 46%
			bottom 3%
			font-size 5rem
	h2
		text-align center
	p
		border-bottom 1px solid white
		padding-bottom 2rem
		display none
		//transition all 1s ease 1s
.seccion-4
	background-image url("../img/fondo-seccion-3.jpg")
	background-position top center
	background-size cover
	color white
	padding-top 2rem
	padding-bottom 2rem
	p
		font-family GothamL
		font-size rem(26)
		span
			font-family GothamBK
.seccion-5
	background-image url("../img/comentarios-seccion-4.jpg")
	background-position top center
	background-size cover
	color azul-oscuro
	padding-top 2rem
	padding-bottom 2rem
	margin-bottom -28px
	text-align center
	h2
		text-transform uppercase
		text-align center
	p
		font-family GothamLIta
		font-size rem(18)
		padding 1rem
		&.content
			margin 1rem auto 2rem auto
			line-height 1.5
		&.autor
			font-family GothamB
			margin .5rem auto
		&.puesto
			font-family GothamBK
.seccion-6
	background-image url("../img/fondo-premios-seccion-4.png")
	background-position top center
	background-size cover
	color azul-oscuro
	padding-top 2rem
	padding-bottom 2rem
	ul
		li
			position relative
			padding-left 4rem
			padding-bottom 2rem
			margin-bottom 3rem
			span
				width 46px
				height 81px
				display inline-block
				vertical-align middle
				background-image url("../img/icon-premio.png")
				position absolute
				left 0
				top -10px
			&:last-child
				padding-bottom 2rem
.seccion-7
	background-color gris-tono2
	color azul-oscuro
	padding-top 2rem
	padding-bottom 2rem
	h2
		text-align center
	ul
		li
			&:before
				icon(f00c)
			text-transform capitalize
footer
	parallax("footer-fondo.jpg")
	color white
	.titulo
		padding 2rem 1rem
		text-align center
		background-color rgba(8,44,78,.8)
		margin-bottom 2rem
	.formulario
		max-width 90%
		margin-left auto
		margin-right auto
		input
			color azul-oscuro
			padding 2rem 1rem
			margin-bottom 1rem
			&[type="submit"]
				color white
				background-color azul-claro
				text-transform uppercase
				padding 1rem 2rem
				margin-left auto
				margin-right auto
				border 0
				border-radius 5px
				display block
		button
				color white
				background-color azul-claro
				text-transform uppercase
				padding 1rem 2rem
				margin-left auto
				margin-right auto
				border 0
				border-radius 5px
				display block
		textarea
			color azul-oscuro
			padding 2rem 1rem
			margin-bottom 1rem
	.info-adicional
		text-align center

@media screen and (min-width:768px)
	.info
		&.medium
			.wrap
				clearfix()
			.left
				text-align left
				float left
				padding-top 4px
				p
					alinear()
					&:first-child
						margin-right 1rem
			.fbook
				alinear()
				float right
	.seccion-1
		&.medium
			box-sizing border-box
			.box
				max-width 60%
				margin-left auto
				margin-right auto
	.seccion-5
		&.medium
			min-height rem(475)
	.seccion-6
		&.medium
			ul
				margin-left 4rem
	.seccion-7
		&.medium
			.wrap
				max-width 80%
				margin-left auto
				margin-right auto
			.left
			.right
				alinear()
			.left
				margin-right 2rem
				
@media screen and (min-width:1000px)
	.wrap
		width rem(960)
		margin-left auto
		margin-right auto
	header
		&.large
			padding-bottom 15rem
	.seccion-1
		&.large
			background-size initial
			.wrap
				width rem(960)
				margin-left auto
				margin-right auto
				.box
					max-width 32%
					margin-top 4rem
					alinear()
					p
						padding 2rem
						box-sizing border-box
					&:nth-child(2)
						margin-left 1rem
						margin-right 1rem
	.seccion-5
		&.large
			margin-bottom -41px
	.seccion-6
		&.large
			background-size initial
			min-height rem(523)
			padding-top 6rem
			box-sizing border-box
			ul
				li
					font-family GothamBK
					font-size rem(24)
	.seccion-7
		&.large
			.proyectos
				max-width 100%
				margin-left auto
				margin-right auto
				text-align center
				.left
					text-align left
				li
					font-size rem(22)
	footer
		&.large
			position inherit
			.titulo
				h2
					font-size rem(50)
				p
					font-family GothamM
					font-size rem(20)
			.formulario
				max-width 75%
				input
					&[type="submit"]
						font-size 2rem
				button
					font-size 2rem
			.info-adicional
				clearfix()
				.left
					float left
					text-align left
					display inline-block
					vertical-align bottom
				.right
					float right
					display inline-block
					vertical-align bottom
					padding-top 2rem

	
			
			
