/*####################################
#
#	Autor: Hector Sevilla
#	Descripcion: Hoja de estilos para 
#				 la plantilla web de 
				 Manantiales de Santo Domingo
#	Fecha: 03/03/2015
#	Hora: 23:00
#
#	1- Cabecera
#	2- Menu
#	3- Slider
#	4- Seccion Principal
#	5- Reviews
#	6- mapa
#	7- Redes Sociales
#	8- Footer
#	9- Mediaquery
#####################################*/

@import 'fonts.styl'
@import 'normalize.styl'
@import 'nib'


//Colores
naranja= #d5662b
gris-bajo = #909194
headers = #4d4d4d
gris0 = #edeeef
gris1 = #e3e5e7
gris2 = #dbdddf
gris3 = #ced0d3
azulFooter = #474b5a

//OOCSS
alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/14)rem
html
	font-size: 14px
a
	text-decoration none
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h1
	font-family: RobotoBold
	font-size: rem(30)
	color headers
h2
	font-family: RobotoBold
	font-size: rem(24)
	color headers
h3
	font-family: RobotoBold
	font-size: rem(36)
	color headers
	margin-top: 0
input[type="text"]
input[type="mail"]
	border 1px solid #d0dee7
	box-sizing border-box
	height 30px
	padding-left: .7rem
	width 100%
textarea
	border 1px solid #d0dee7
	box-sizing border-box
	padding-left: .7rem
	width 100%
body
	font-family: OpenSans400
	font-size: 16px
	font-weight: normal
	color headers

/* FUENTES 

    OPEN SANS REGULAR = OpenSans400
    PRISTINA = pristina
    GOTHAM EXTRA LIGHT = GothamXL
    GOTHAM BOOK = GothamBK
    GOTHAM BOLD = GothamB
    GOTHAM LIGHT = GothamL
    GOTHAM MEDIUM = GothamM
    GOTHAM LIGHT ITALIC = GothamLIta

*/


	
			
			
